@import "tailwindcss";

@theme {
  --color-glass: rgba(255, 255, 255, 0.05);
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --background-image-premium-gradient: radial-gradient(circle at top right, #4f46e5, #0f172a);
}

body {
  @apply bg-premium-gradient min-h-screen text-white font-sans antialiased;
  margin: 0;
}